.main-nav {
    padding: 8px !important;
    color: #fff !important;
    margin-bottom: 0 !important;
}

.nav-title {
    color: #fff !important;
    font-size: 34px !important;
    margin-bottom: 5px !important;
}

.nav-subtitle {
    font-weight: 100 !important;
    font-size: 22px !important;
    color: rgba(255, 255, 255, 0.8) !important;
    letter-spacing: 1px;
}